body {
  background-color: black; }

h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: yellow;
  background-color: black;
  width: 100%; }

.color-titulo {
  align-items: start;
  color: yellow;
  font-size: 1.5rem; }

.nave-color {
  color: white;
  padding: 10px;
  font-size: 20px; }

.nave-posicion {
  position: fixed;
  width: 100%;
  z-index: 9999; }

.boton-espacio {
  margin-bottom: 10px; }

.color-icono {
  background-color: #06345f;
  border-radius: 30%; }

.nave-hover:hover {
  color: #070069; }

.banner {
  display: flex;
  max-width: 100%;
  width: auto;
  height: auto; }

.div-banner {
  display: grid; }

.main {
  display: flex; }

.categorias {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3;
  margin-bottom: 100px; }

.img-categorias-uno {
  max-width: 100%;
  max-height: 100%; }

.into {
  color: white;
  margin: 30px;
  text-align: center; }

.compra {
  margin-top: 10px;
  margin-bottom: 100px; }

.fotos {
  width: 70%;
  border-radius: 20%; }

main div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; }

main div h4 {
  color: aliceblue;
  position: absolute;
  margin-top: 300px; }

footer h3 {
  margin-top: 100px;
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-align: center; }

footer div img {
  max-width: 100%;
  max-height: 100%; }

.img-footer {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%; }

footer div h4 {
  color: aliceblue;
  margin: 30px; }

.alineacion-footer {
  color: #0088ff;
  display: grid;
  gap: 10px;
  margin: 10px; }

.boton {
  font-size: 18px;
  background: #5648d6;
  text-decoration: none;
  width: 200px;
  padding: 5px;
  text-align: center;
  color: white; }

.volver-arriba {
  margin-top: 100px; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .section-fotos {
    margin-top: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    gap: 20px; }
  .section-fotos-p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%); }
  main div h4 {
    display: none; }
  .footer-index {
    margin-top: 1000px; }
  .footer-productos {
    margin-top: 1000px; }
  .local {
    margin-right: 1000px;
    margin-bottom: 50px;
    color: aliceblue;
    padding-top: 100px; } }

@media screen and (min-width: 1200px) {
  /* Index */
  .section-fotos {
    margin-top: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
    gap: 20px; }
  .section-fotos-p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%); }
  main div h4 {
    display: none; }
  .footer-index {
    margin-top: 1000px; }
  .footer-productos {
    margin-top: 1000px; }
  .local {
    margin-right: 1000px;
    margin-bottom: 50px;
    color: aliceblue;
    padding-top: 100px; } }

/*CONTACTO*/
.form {
  color: white;
  padding: 100px;
  font-size: 15px;
  background-color: aliceblue; }

.boton1 {
  color: white; }

fieldset div {
  padding: 10px; }

/*QUIENES SOMOS*/
.quih2 {
  padding: 100px;
  color: aliceblue;
  font-size: 30px; }

.quih3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  font-size: 18px; }

.quienes-somos {
  margin: 0px 50px 50px 50px;
  display: grid; }

/*LOCAL*/
.main-local {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.local {
  margin-right: 10px;
  margin-bottom: 50px;
  color: aliceblue;
  padding-top: 100px; }

iframe {
  margin: 20px; }

/*CONTACTO*/
.form {
  color: white;
  padding: 100px;
  font-size: 15px;
  background-color: aliceblue; }

.boton1 {
  color: white; }

fieldset div {
  padding: 10px; }

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black; }
