@import "html/index";
@import "html/contacto";
@import "html/quien";
@import "html/local";
@import "html/contacto";


/*Reset*/

*{   
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;    
    background-color: black;
}
