@import "../utilidades/variables";
@import "../utilidades/variables";
@import "../utilidades/mixin";

body{
    background-color: $color-principal;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
    background-color: black;
    width: 100%;
}


.color-titulo{
    align-items: start;
    color: yellow;
    font-size: 1.5rem;
}

.nave-color{
    color: white;
    padding: 10px;
    font-size: 20px;
}

.nave-posicion{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.boton-espacio{
    margin-bottom: 10px;
}

.color-icono{
    background-color: rgb(6, 52, 95);
    border-radius: 30%;
}
.nave-hover:hover{
    color:rgb(7, 0, 105);
}

.banner{
    display: flex;
    max-width: 100%;
    width:auto;
    height:auto;
}
.div-banner{
    display: grid;
}
.main{
    display: flex;
}
.categorias{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    margin-bottom: 100px;
    
}

.img-categorias-uno{
    max-width: 100%;
    max-height: 100%;
}



.into{
    color: white;
    margin: 30px;
    text-align: center;
}

.compra{
    margin-top: 10px;
    margin-bottom: 100px;

}

.fotos{    
    width: 70%;
    border-radius: 20%;
}

main div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

main div h4{
   color: aliceblue;
   position: absolute;
   margin-top: 300px;
}

footer h3{
    margin-top: 100px;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    
}

footer div img{
   max-width: 100%;
   max-height: 100%;
}

.img-footer{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
}

footer div h4{
    color: aliceblue;
    margin: 30px;
}

.alineacion-footer{   
    color: rgb(0, 136, 255);
    display: grid;

    gap: 10px;
    margin: 10px;
}


.boton{
    font-size: 18px;
    background: rgb(86, 72, 214);
    text-decoration: none;
    width:200px;
    padding:5px;
    text-align: center;
    color:white;
}

.volver-arriba{
   margin-top: 100px;
    
}









@media screen and (min-width:992px) and (max-width:1199px) {

 
 
     .section-fotos{
        margin-top: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
        gap: 20px;
      
    }
    
    .section-fotos-p{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
        
    }
    
    main div h4{
        display: none;
    }
    .footer-index{
        margin-top: 1000px;
    }
    .footer-productos{
        margin-top: 1000px;
    }
    .local{
        margin-right: 1000px;
        margin-bottom: 50px;
        color: aliceblue;
        padding-top: 100px;

}
}

@media screen and (min-width:1200px) {

    /* Index */
   
    .section-fotos{
        margin-top: 300px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 50%);
        gap: 20px;
      
    }
    .section-fotos-p{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
        
    }
    main div h4{
        display: none;
    }
    .footer-index{
        margin-top: 1000px;
    }
    .footer-productos{
        margin-top: 1000px;
    }
    .local{
        margin-right: 1000px;
        margin-bottom: 50px;
        color: aliceblue;
        padding-top: 100px;

}

 }
