/*QUIENES SOMOS*/

.quih2{
    padding: 100px;
    color: aliceblue;
    font-size: 30px;
}
.quih3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 18px;

}

.quienes-somos{
    margin: 0px 50px 50px 50px;
    display: grid;
  
}